[user]
	name = Alex Vermillion
	email = dev@ajvermillion.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[credential]
	helper = store --file ~/.my-credentials
[push]
	default = simple
[branch]
	autosetuprebase = always
