set revert-all-at-newline on
set completion-ignore-case on

set keymap emacs
Control-l: clear-screen

set keymap vi-command
Control-l: clear-screen

set keymap vi-insert
Control-l: clear-screen

# This is normally implicit.
# To set normal apps below, we have to add because we had some above
set keymap emacs

$if mit-scheme
  "\C-c" rlwrap-direct-keypress
  "\C-g" rlwrap-direct-keypress
$endif
