@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/* This was used in an old version of this file with below close brance
@-moz-document url("chrome://browser/content/browser.xul") {
*/

/* https://news.ycombinator.com/item?id=18836189 */
/* Hide tab bar in FF Quantum */
#TabsToolbar {
	visibility: collapse !important;
	margin-bottom: 21px !important;
}

/*
// Get rid of only the tabs, allow other items in the tab toolbar
#tabbrowswer-tabs {
	visibility: collapse;
}
/*
/* Get rid of the header on the TreeStyleTabs extension sidebar  */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
	visibility: collapse !important;
}

/* Make the bookmarks toolbar be visible */
#PersonalToolbar {
	collapsed="false"
}

/* Remove unneeded options from right-click menu */
/* Email Image… */
menuitem#context-sendimage,
menuseparator#context-sep-setbackground,
/* Set Image as Desktop Background… */
menuitem#context-setDesktopBackground,
/* Print Selection… */
menuitem#context-print-selection,
/* Take Screenshot */
menuitem#context-take-screenshot,
menuseparator#context-sep-screenshots,
/* Search [search] for [selection] */
menuitem#context-searchselect,
/* Translate selection to [language] */
menuitem#context-translate-selection,

/* Needed because the placement of separators flips here */
menuseparator#context-sep-highlights,

/* View Selection Source */
menuitem#context-viewpartialsource-selection,
/* Inspect Accessibility Properties */
menuitem#context-inspect-a11y,

menu.menu-iconic#_testpilot-containers-menuitem-0,
menu.menu-iconic[label="1Password – Password Manager"],
menuitem.menuitem-iconic#ublock0_raymondhill_net-menuitem-_uBlock0-blockElement,
contentAreaContextMenu > menuseparator:last-child
{
	display: none;
}

/* This was used in an old version of this file with above open brance
}
*/
